@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 23px;
  --backGround-color: #222738;
  --board-bg-color: #181825;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--backGround-color);
  color: white;
}

h1 {
  margin: 1rem;
}

.section-game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.section-game .square {
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
  width: 21rem;

  position: relative;
  overflow: hidden;
}

.square-elem {
  width: 1rem;
  height: 1rem;
  background-color: var(--board-bg-color);
}

.isSnake {
  background-color: #eeeeeebb;
  border-radius: 1px;
  z-index: 2;
}

.isSnakeHead {
  background-color: #ffffff;
  border-radius: 1px;
  box-shadow: 0 0 2px 0 #ffffff;
  z-index: 3;
}
.isFood {
  background-color: #4cffd7;
  border-radius: 2px;

  box-shadow: 0 0 15px 0 #4cffd7;
  z-index: 2;
}

.game-over-menu {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  color: #4cffd7 !important;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--board-bg-color);
  
}
.game-over-menu h2,
.game-over-menu p{
  border-radius: 10px;
  background-color: #1818258e;

  z-index: 5;
}


.game-over-active {
  display: flex;
}

.button-div {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.restart-btn {
  background-color: transparent;
  padding: 0.3rem 0.9rem;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out,
    border 150ms ease-in-out;
}

.restart-btn:hover {
  color: var(--backGround-color);
  border: 1px solid #4cffd7;
  background-color: #4cffd7;

}
